spring:
  application:
    name: ef-energia-api
  datasource:
    url: jdbc:oracle:thin:@oracle:1521:XE
    username: ${ORACLE_USERNAME:system}
    password: ${ORACLE_PASSWORD:oracle}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

app:
  security:
    jwt:
      secret: ${APP_JWT_SECRET:bXlzdXBlcnNlY3JldGtleWZvcmp3dHRva2VuZ2VuZXJhdGlvbjI1NmJpdHM=}
      expiration: ${APP_JWT_EXPIRATION_SECONDS:3600}

server:
  port: 8080

