spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=Oracle;DATABASE_TO_LOWER=FALSE;DEFAULT_NULL_ORDERING=HIGH
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  flyway:
    enabled: false
  sql:
    init:
      mode: never
  h2:
    console:
      enabled: true
      path: /h2-console
